# PyCharm
.idea/

# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Distribution
build/
dist/

# Output files
output/

# Application state
src/config/label_print_state.json